.team-heading {
    background-color: rgba(26, 189, 203, 0.889);
}

.card-header {
    background-color: rgba(26, 189, 203, 0.889);
    align-items: center;
}

.employee-card {
    margin: 2vw;
    min-height: 400px;
    min-width: 300px;
    background-color: rgb(20, 114, 135);
    border: none;
}

.list-group-item {
    margin: 0.5vw;
}

a {
    color: black;
}